<h1>
    <%= @category&.name || "ALL" %> posts
</h1>

<% if @category %>
  <%= link_to "ALL post", posts_path %>
<% end %>

<%= link_to "Create new post", new_post_path %>
<div class="posts-container">
  <% @posts.each do |post| %>  
    <div class="post">

      <%= link_to post do %>
        <h3> <%= post.title %> </h3>
      <% end %>
      <!-- <p><%= post.category.name %></p> -->
      <%= link_to post.category.name, category_posts_path(post.category)%>
      <p><%= post.created_at %></p>
      <p><%= post.text %></p>
    
    </div>
    
  <% end %>
</div>

<%= form_tag(posts_path, method: :get) do%>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<% end %>

<%= will_paginate @posts %>